<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2023_1_midterm</title>

    <link rel="stylesheet" href="{% static 'midterm/css/midterm.min.css' %}" media="screen" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

</head>
<body>

<div class="container my-3">
    <div class="row">
        <div class="col-3">
            <a class="btn btn-outline-primary btn-block" href="/midterm/" role="button">Midterm Home</a>
            <a class="btn btn-outline-info btn-block" href="/midterm/list/" role="button">Staff List</a>
            {% block add %}
            <a class="btn btn-outline-info btn-block" href="/midterm/list/" role="button">Staff List</a> <!--리스트에서만 이게 필요가 없어-->
            {% endblock %}
        </div>
        <div class="col-9">
            {% block main_area %}
            {% endblock %}
        </div>
    </div>
</div>


</body>
</html>