{% extends 'blog/base.html' %}

{% block main_content %}
    <!--로그인 + 슈퍼유저, 스태프면 새로운 글 작성 가능-->
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right" href="/blog/create_post/" role="button">
                <i class="fas fa-pen"></i>&nbsp;&nbsp;New Post
            </a>
        {% endif %}
    {% endif %}
    <h1>
        Blog
            <!-- 검색한 거 있으면 출력-->
            {% if search_info %}
                <small class="text-muted"> - {{search_info}}</small>
            {% endif %}

            <!-- 카테고리 있으면 출력 -->
            {% if category %}<span class="badge badge-secondary">{{ category }}</span>
            {% endif %}
    </h1>
    {% if post_list.exists %}
    <!--Post 모델을 사용했으니 post_list라고 자동으로 인식함-->
        {% for p in post_list %}
        <!-- Blog post-->
        <div class="card mb-4" id='post-{{ p.pk }}'>

        <!--이미지가 있으면 보여주기, 없으면 임의의 이미지로-->
        {% if p.head_image %}
        <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image" width="800" height="200"/> <!--alt는 이미지가 없을 때 보여줄 텍스트-->
        {% else %}
        <img class="card-img-top" src="https://picsum.photos/seed/{{ p.pk }}/800/200" title="random image"
             alt="random_image">
        {% endif %}

        <div class="card-body">
            <!-- 카테고리 있으면 출력 / 없으면 미분류로 알려주기 -->
            {% if p.category %}
            <span class="badge badge-secondary float-right">{{ p.category }}</span>
            {% else %}
            <span class="badge badge-secondary float-right">미분류</span>
            {% endif %}
            <!--
            <div class="small text-muted">
                {{ p.created_at }}
                by {{ p.author }}
            </div>
            -->
            <h2 class="card-title">{{ p.title }}</h2>

            <!--해시태그같은 요약문 있으면 흐린글씨로 보여주기-->
            {% if p.hook_text %}
            <h5 class="small text-muted">{{ p.hook_text }}</h5>
            {% endif %}

            <p class="card-text">{{ p.content | linebreaksbr | truncatewords:3 }}</p> <!--5단어 제한있음-->

            <!--tag area-->
            {% if p.tags.exists %}
                <i class="fas fa-tags"></i>
                {% for tag in p.tags.all %}
                    <span class="badge badge-pill badge-light">{{ tag }}</span>
                {% endfor %}
                <br /><br />
            {% endif %}

            <!--model 파일에 함수 정의해놓음 / 절대 경로-->
            <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
        </div>
        <div class="card-footer">
            Posted on {{ p.created_at }}  by
            <a href="#">{{ p.author | upper }}</a>
        </div>
    </div>
        {% endfor %}
    {% else %}
        <h2>아직 게시물이 없습니다.</h2>
    {% endif %}

    <!-- Pagination -->
    <!-- paginator, page_obj 존재 -->
    <!-- page_obj.number 현재 페이지 -->
    <!-- page_obj.previous_page_number 이전 페이지 / page_obj.next_page_number 다음 페이지 -->
    <!-- paginator.page_range 몇 페이지까지 있는지 알려줌 -->
    {% if is_paginated %}
        <nav aria-label="Pagination">
            <hr class="my-0"/>
            <ul class="pagination justify-content-center my-4">
                <!-- previous page -->
                {% if page_obj.has_previous %}
                    <li class="page_item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr; Newer </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-disabled="true">&larr; Newer </a>
                    </li>
                {% endif %}

                <!-- page number -->
                {% for i in paginator.page_range %}
                    {% if i == page_obj.number %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{i}}</a>
                        </li>
                    {% else %}
                        <li class="page_item">
                            <a class="page-link" href="?page={{i}}">{{i}}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- next page -->
                {% if page_obj.has_next %}
                    <li class="page_item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"> Older &rarr;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-disabled="true"> Older &rarr;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {%  endif %}
    {% endblock %}
