<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Introduction</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/blog/">Blog</a>
    </nav>
    <p>여기는 http://127.0.0.1:8000/about_me/</p>
    <h2>안녕하쇼 장수지예용 ^^</h2>
    <p>공사 중임 ^^*</p>
</body>
</html>