<!--대문 페이지-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Blog Homepage</title>
</head>
<body>
    <nav>
        <a href="/blog/">Blog Connection</a> |
        <a href="/about_me/">About Me</a> |
    </nav>
    <h2>Main Page</h2>
    <hr/>
    <p>여기가 대문 페이지인 landing 페이지</p>
    <p>http://127.0.0.1:8000</p>
    <p>잘 보이나용 </p>
    <p>연습 중이예용 🤭</p>

</body>
</html>